<!--
a:link, span.MsoHyperlink
	{color:gray;
	text-underline:none;
	text-decoration:none;}
a:visited, span.MsoHyperlinkFollowed
	{color:black;
	text-underline:none;
	text-decoration:none;}
a:hover {text-decoration:underline;
	text-underline:single;}
-->
